<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing Pouchdb</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="user.name">
        <input type="text" v-model="user.email">
        <button @click="saveUser">Submit</button>
    </div>


    <script src="vue.js"></script>
    <script src="pouchdb.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                user: {}
            },
            methods: {
                saveUser () {
                    var pouchdb = new PouchDB("http://localhost:5984/daycare")
                    pouchdb.post(this.user).then(function(response){
                        console.log(response)
                    }).catch(function(error){
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>
</html>